# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.depend

Examples/Write*.1
Examples/Write*.3
Examples/TestReader

*/*DICT.h
*/*DICT.C
